fastapi==0.115.0
uvicorn==0.30.6
python-multipart==0.0.9
openai-whisper
ultralytics==8.2.103
opencv-python==4.10.0.84
ollama==0.3.3
pyttsx3==2.90
pillow==10.4.0
streamlit==1.38.0
requests==2.32.3
numpy==1.26.4
